<div class="small-card card d-flex flex-row">
  <div class="d-flex flex-column w-75 px-3 py-2" >
    <div>
      <p class="mb-2"><%= run.date.strftime(" %e %B - %l:%M %p") %> / <%= run.name %></p>
    </div>
    <div class="d-flex flex-wrap">
      <p class="mr-2 mb-1 small"><%= run.run_distance %>Km / <%= run.elevation %>m d+ |</p>
      <p class="mr-2 mb-1 small"><%= run.starting_point.truncate(30) %></p>
    </div>
    <div class="d-flex justify-content-between">
      <p class="mb-0 small"> <%= run.partecipants.size %> partecipant<%= run.partecipants.size > 1 ? "i" : "e"  %></p>
      <% if policy(run).edit? %>
      <div>
        <%= link_to edit_run_path(run), class:"mr-2 small" do %><i class="fas fa-pen"></i> Modifica <% end %>
        <%= link_to run_path(run), class:"small ", method: :delete, :data => {:confirm => 'Sei sicuro di voler eliminare la sessione di alenamento?'} do %>
          <i class="fas fa-trash"></i> Elimina
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <% if run.photo.blank? %>
    <div class="w-25 small-card-pic" style="min-height: 20px;background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= asset_path "no_pic_background.jpg" %>')"></div>
  <% else %>
    <div class="w-25 small-card-pic" style="min-height: 20px;background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path run.photo, height: 300, width: 400, crop: :fill %>')"></div>
  <% end %>
</div>
