
<% if user == current_user %>
<div class="container mt-3">
  <%= link_to new_run_path, class: "d-flex" do %>
    <i style="" class="fas fa-plus-circle add-run-btn" data-toggle="tooltip" data-placement="top" title="Aggiungi un nuovo allenamento"></i>
    <p class="ml-2">Aggiungi un nuovo allenamento</p>
  <% end %>

</div>
<% end %>


<% if runs.any? %>
<div class="card small-padding-card">
 <% if !no_link %>
  <div class="d-flex align-items-center">
      <% if user == current_user %>
        <h3 class="mb-1 mr-3">Gli allenamenti che hai condiviso</h3>
      <% else  %>
        <h3 class="mb-1 mr-3">Gli allenamenti condivisi da <%= user.username.capitalize %></h3>
      <% end %>

    <%= link_to user_runs_path(user) do %>
      <i class="fas fa-search ml-2 add-run-btn" data-toggle="tooltip" data-placement="top" title="Vedi tutti gli allenamenti organizzati da <%= user.username.capitalize %>"></i>
    <% end %>
  </div>
  <p class="light"><%= user.username.capitalize %> ha organizzato questi allenamenti</p>
<% else %>
<div class="text-center">
  <% if user == current_user %>
    <h3 class="mb-1 mr-3">Gli allenamenti che hai condiviso</h3>
  <% else  %>
    <h3 class="mb-1 mr-3">Gli allenamenti condivisi da <%= user.username.capitalize %></h3>
  <% end %>

</div>
<p class="light"><%= user.username.capitalize %> ha organizzato questi allenamenti</p>

<% end %>


  <div class="d-flex flex-column">
    <% runs.each do |run| %>
      <%= link_to run, class:"my-1" do %>
        <%= render "runs/horizontal_card", run: run %>
      <% end %>
    <% end %>
  </div>
</div>

<% end %>
